.logoContainer {
  height: 80px;
  background-color: #161d2a;
}

.aside {
  height: 100vh;
}

.userWrapper {
  display: flex;
  align-items: center;
}

.menuWrapper {
  padding: 24px 24px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.user {
  margin-left: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
}
